<div class="card-container">
    <div class="card">
        <h1>Gerador de Crachá</h1>

        <form>
            <span class="p-float-label">
                <input pInputText id="username" />
                <label for="username">Nome</label>
            </span>

            <span class="p-float-label">
                <input pInputText id="username" />
                <label for="username">Cargo</label>
            </span>

            <span class="p-float-label">
                <input pInputText id="username" />
                <label for="username">Nome da Empresa</label>
            </span>

            <button type="submit" pButton label="Gerar crachá"></button>
        </form>
    </div>
</div>

